/* For mobile devices (widths below 530px) */
@media only screen and (max-width: 530px) {
    .main {
        font-size: 1.2rem;
        top: 15%;
    }

    .headings {
        font-size: 2rem;
    }

    .gallery img {
        width: 100px;
        height: 100px;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }

    .navbar ul li {
        display: block;
        text-align: center;
        margin: 15px 0;
    }

    .form input, .form textarea {
        width: 100%;
    }
}